@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --bg-cream: hsl(30, 38%, 92%);
    --bg-dark-cyan: hsl(158, 36%, 37%);
    --bg-very-dark-blue: hsl(212, 21%, 14%);
    --bg-dark-grayish-blue: hsl(228, 12%, 48%);
    --bg-white: hsl(0, 0%, 100%);
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Fraunces', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.4rem;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

s {
    font-size: 1.4rem;
    font-family: var(--ff-primary);
    color: initial;
    color: var(--bg-dark-grayish-blue);
}

p {
    align-self: flex-start;
    width: 85%;
    margin-bottom: 1rem;
    line-height: 1.7;
}

main {
    max-width: 36rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.img {
    flex: 0 0 50%;
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.content {
    flex: 0 0 77%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}


.content__name {
    margin: 2rem 0;
    align-self: flex-start;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    color: var(--bg-dark-grayish-blue);
}

.content__heading {
    width: 80%;
    align-self: flex-start;
    margin-bottom: 2rem;
    font-family: var(--ff-secondary);
    line-height: 1;
    font-weight: 700;
}

.content__btn {
    background-color: hsl(158, 36%, 37%);
    display: block;
    width: 94%;
    align-self: flex-start;
    text-align: center;
    padding: 1.7rem;
    border-radius: 1rem;
    font-family: var(--ff-primary);
    font-weight: 700;
    color: var(--bg-white);
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.content__text {
    font-family: var(--ff-primary);
    color: var(--bg-dark-grayish-blue);
    width: 90%;
}

.content__price {
    font-family: var(--ff-secondary);
    color: var(--bg-dark-cyan);
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
}


@media (min-width: 768px) {
    main {
        max-width: 62rem;
        height: 47rem;
        flex-direction: row;
    }

    .container {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }

    .content {
        flex: 0 0 50%;
        padding: 1.8rem;
        margin-left: 1rem;

    }

    .img {
        flex: 0 0 50%;
        background-image: url(../images/image-product-desktop.jpg);
        background-size: cover;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .content__heading {
        width: 80%;
    }

    .content__text {
        margin-bottom: 2rem;
    }

    .content__price {
        margin-bottom: 2rem;
    }

    .content__btn {
        margin-bottom: 0;
    }
}